div.inline{
    display: inline;
    color : red;
}

#header {

    padding: 10px;
    padding-left: 50px;;
    background-color: #269abc;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-bottom: white solid 1px;
    text-transform: uppercase;

}
body{
    background-color: white;
}

/*
.menu {
    width: 30%;
    background-color: #3D74C4;
    height : 100%;
}*/


.test{
    position: relative;
    width : 100px;
    height: 100%;
    background-color: #3D74C4 ;
    padding : 10px;
}



.console, .settings {
    display: inline;

}


#console {
    position: absolute;
    width : 80%;
    background-color: #000000;
    height:80%
}

.settings{
    position: absolute;


    margin-left: 80%;

    border-left: solid #ffffff 1px;

}

.composer{
    color:green;
    top:0%;
    left : 100%
}

.settings > h3 {
    margin-right: 30px;
    padding-left: 10px;
    background-color: #269abc;
    color: white;
    width: 100%;

}


p {
    color : white;
    letter-spacing: 2px;
}


